@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Young+Serif&display=swap');
@import './variables.css';
@import './reset.css';

body {
  font-family: 'JetBrains Mono', monospace;
  background: var(--bg-gradient);
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  max-width: clamp(21.4375rem, 47vw, 33.75rem);
}

.page-title {
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: clamp(1.25rem, 2.5vw, 2rem);
  font-weight: 700;
  letter-spacing: 0;
}

.password-text {
  font-size: clamp(1.5rem, 3vw, 2rem);
  line-height: clamp(1.5rem, 3.5vw, 2.625rem);
  font-weight: 700;
  letter-spacing: 0;
}

.char-length {
  font-size: clamp(1rem, 1.9vw, 1.125rem);
  line-height: clamp(1.25rem, 2.5vw, 1.5rem);
  font-weight: 700;
  letter-spacing: 0;
}

.list-text {
  font-size: clamp(1rem, 1.8vw, 1.125rem);
  line-height: clamp(1.25rem, 2.5vw, 1.5rem);
  font-weight: 700;
  letter-spacing: 0;
}

.strength-text {
  font-size: clamp(1rem, 1.8vw, 1.125rem);
  line-height: clamp(1.25rem, 2.5vw, 1.5rem);
  font-weight: 700;
  letter-spacing: 0;
}

.text-preset-1 {
  font-size: 2rem;
  line-height: 2.625rem; /* 42px */
  font-weight: 700;
  letter-spacing: 0;
}

.text-preset-2 {
  font-size: 1.5rem;
  line-height: 2rem; /* 32px */
  font-weight: 700;
  letter-spacing: 0;
}

.text-preset-3 {
  font-size: 1.125rem;
  line-height: 1.5rem; /* 24px */
  font-weight: 700;
  letter-spacing: 0;
}

.text-preset-4 {
  font-size: 1rem;
  line-height: 1.25rem; /* 20px */
  font-weight: 700;
  letter-spacing: 0;
}

@media (min-width: 48rem) {
}
